<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/logo.jpg" width="50" height="50" >Swiggy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/cartpage">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"routerLink="/checkout">Checkout</a>
        </li>  
        <div *ngIf="isUserLoggedOut">
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
         </div>  
         <div *ngIf="!isUserLoggedOut">
            <li class="nav-item">
              <a class="nav-link" routerLink="/userdashboard">My account</a>
            </li>
        </div>
      </ul>
    </div>
  </nav>


  <!-- <th><button (click)="maptoggle()">View Map</button></th>
<div *ngIf="map">
  <div>
  <app-map></app-map>
  </div>
</div> -->