<table>
<th> USER DETAILS</th>
<br>
<tr>Welocme {{username}}</tr>  
    <form (submit)="resetpassword($event)">
        <div>
          <label>Password </label>
          <input type="password" placeholder="Enter your password"><br/><br/>
        </div>

        <div>
                <label>Confirm Password </label>
                <input type="password" placeholder="Confirm your password"><br/><br/>
              </div>
        <div>
          <input type="submit" value="Login">
        </div>
      </form>
</table>