<div >
  <h1>YOUR CART DETAILS BELOW:</h1>
  <div>
    Grand total: {{grandtotal}}
  </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
        <table class="table table-bordered">
                <thead>
                  <tr><th>ID</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quatity</th>
                    <th>PRODUCT DETAILS</th></tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let list of response">
                      <td>{{list.id}}</td>
                      <td><img src="{{list.img}}" class="img-thumbnail" style="height:100px;" />
                      </td><td>{{list.name}}</td>
                      <td>{{list.price}}</td><td>
                {{list.quantity}}</td><td>{{list.provider}}</td></tr></tbody></table>
              
</div>